#map {
    height: 85vh;
    width: 100vw;
}

@media (max-width: 768px) {
    #map {
        height: 70vh;
    }
    .leaflet-popup-content, .location-picture {
        width: 250px !important;
    }
}

h3 {
    text-align: center;
}

p {
    padding: 4px;
    margin: 4px;
}

.location-picture {
    width: 301px;
    border-radius: 8px;
}

.leaflet-popup-content p {
    margin: 5px 0px;
    text-align: center;
}

li {
    margin: 2px 0px;
}
