.navbar {
    backdrop-filter: blur(10px);
    background-color: rgb(33, 37, 41);
    font-family: "Playfair Display", serif;
    font-size: larger;
    font-weight: 400;
    height: fit-content;
    position: relative;
    width: 100%;
    z-index: 10; /* Set z-index to a high number to make sure it's on top */
  }

  .nav-link {
    padding-left: 1rem;
  }
  .mobile-logo {
    display: none;
    height: 60px;
    justify-content: center;
    width: 170px;
    float: inline-start;
  }
  
  .navbar-dropdown {
    background-color: rgb(33, 37, 41);
    width: 100%;
  }
  .navbar-toggler{
    float: inline-end;
  }
  
  .nav-link:hover::after {
    transform: scalex(1);
    transform-origin: left;
  }
  .nav-link::after {
    background-color: currentColor;
    bottom: 0.1em;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transform: scalex(0);
    transform-origin: center;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
  }
  .nav-item{
    
    margin: 0.5rem;
  }
 
  @media (max-width: 1000px) {
    .mobile-logo {
      display: block;
    }
    .brand {
      display: none;
    }
    .nav-item {
      padding: 0.5rem;
      text-align: center;
    }
  }
  