.carousel img {
    width: 100%; /* Set min-height to your preference */
  }
  .thumbnail {
    max-width: 128px;
    max-height: 128px;
  }
  .li {
    align-content: center;
  }
  a {
    position: relative;
  }
  #about {
    color: white;
  }
  .animal-card {
    width: 10rem;
    margin: 0.5rem;
    position: relative;
    text-align: center;
    color: white;
    background-color: #343a40;
    transition: transform 0.3s ease;
  }


 /* The thumbnail image used in single animal page*/
  .animal-thumbnail{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-height: 256px;
    max-width: 256px;
  }
  .p-card {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }


  .animal-details{
    text-align: center;
    color: white;
    background-color: #343a40;
    border: #495057;
  }

  .catalogue-card {
    margin: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
    color: white;
    background-color: #343a40;
    flex-wrap: wrap;
    justify-content: center;
    border: #495057;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
  }

  .animal-card:hover {
    transform: scale(1.05);
  }

  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
  }

  .left {
    text-align: left;
  }
  .right-p {
    text-align: right;
    font-weight: 100;
  }
  .right-h {
    text-align: right;
  }
  .right-li {
    direction: rtl;
  }

  @media (max-width: 750px) {
    .right-h {
      text-align: center;
    }
    .left {
      text-align: center;
    }
    .right-p {
      text-align: left;
    }
    .right-li {
      direction: ltr;
    }
  }
  .row {
    margin-bottom: 5px;
  }
  .a-about {
    color: cornflowerblue;
  }
  .a-about:hover {
    color: gainsboro;
  }
  p, h1, h2, h3, h4, h5, h6, li, select, option, label {
    font-family: "Playfair Display", serif;
  }
  
  #total{
    margin: 0.25rem;
  }
  body {
    background-color: #495057;
   /* Footer height rules*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
    /* Other styles for your footer */
  }
